{% extends 'base.html' %}

{% block content %}

<div class="upload mobile" id = "article_id" style="padding:20px;background-color:#e7e7e7;">





  <div style="min-height:300px">

    <div style="background-color:white;">
Author {{artic.A_Name|capfirst}}</br>
{{artic.time}}</br>
    </div></br>

{% if artic.Pic %}
<img src="{{artic.Pic.url}}" style="margin:auto;height:auto;width:80%;display:block;border:1px solid gray" alt="image"></img></br>
{% endif %}

    <div style="background-color:white">
<h3 style="text-align:center">{{artic.Title|capfirst}}</h3>
    </div>
</br>
    <div style="background-color:white">
{{artic.Article|linebreaks}}
    </div>

  </div>
</div>


{% endblock %}
