{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="music"  style="">



<img src="{% static 'music1.png' %}" style="float:none;display:block;width:50%;height:auto;margin:auto;bordrer: 2px solid red" /></br>
<div class='search' style="width:55%;margin:auto;borrder: 2px solid red" >
<form  action="{% url 'music:search' %}" method="GET">
<input type='text' style="width:175px" name='q' />
<input type='submit' value="search" style="background-color:orange;border: 4px solid orange;border-radius: 5px;color:white">
</div>

<a href={% url 'music:upload' %}><div class='uploadMusic' style="color:white;font-weight:bold;text-align:center;background-color:orange;float:none;display:block;width:55%;height:auto;margin:auto;border: 2px solid orange;border-radius:5px">
Panga upload nyimbo 

</div></a>

<div style="width:50%;min-height:100%">
<img sourc="{% static 'music.jpg' %}" />
</div>

{% for i in musicList %}
<div style="width:100%;height:auto;border-bottom:5px solid #e6e6e6;float:left;padding:5px;">
<a href="{% url 'music:Download' i.id %}" style="font-weight:bold;font-size:20px;color:grey">{{i.Artist|capfirst}}</br>
<a href="{% url 'music:Download' i.id %}" style="font-weight:bold;font-size:16px">{{i.Title}}.mp3
<span style='float:right;'>Download</span></a>
</div>
{% endfor %}

<div class="upload mobile" style="text-align:left;>
<span class="step-links">
{% if musicList.has_previous %}
<a href="?page={{ musicList.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ musicList.number }} of {{ musicList.paginator.num_pages }}.
</span>
{% if contacts.has_next %}
<a href="?page={{ musicList.next_page_number }}">next</a>
{% endif %}
</span>
</div>

</div>
{% endblock %}


