{% extends 'base.html' %}
{% block content %}
<div class='upload mobile' style='background-color:;height:100%'>
<form enctype="multipart/form-data" method="post" action="{% url 'order:order' %}" >
{% csrf_token %}



{{form.Name.label_tag}}</br>
{{form.Name}}</br>

{{form.phoneNumber.label_tag}}</br>
{{form.phoneNumber}}

<input type="submit" style='width:96px;background-color:red;border:2px solid red;color:white;height:40px;border-radius:5px;font-weight:bold' value="order" />
</form>
</div>

{% endblock %}
