{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="people mobile" style="">

<img src="{% static '2.png' %}" style="display:block;float:none;width:20%;height:auto;margin:auto;overflow:hidden;f" /></br></br>

{% for i in allP %}
<div style="width:100%;height:auto;border:5px solid #d9d9d9;float:left;padding:5px;">
{% if i.profilePic %}

<img src="i.profilePic.url" style="float:left;width:10%;height:auto;margin-right:2px" />


{% else %}

<img src="{% static 'placeholders/profile.png' %}" style="float:left;width:10%;height:auto;margin-right:2px" alt="gg" />


{% endif %}
<span style="font-weight:bold">{{i.first_name|capfirst}}</span></br>
<a href="{% url 'anthu:ona' i.id %}"> view profile</br></a>
{% comment %}<a href="{% url 'anthu:msg' request.user.id i.id %} ">send message</a>{% endcomment %}


</div></br>
{% endfor %}
</div>

{% endblock %}
