{% extends 'base.html' %}
{% block content %}



<div class='productsInc' style=''>


{% for i in sub %}
<div style='width:100%;height:auto;background-color:;color:orange;border-bottom:1px solid black ;margin-bottom:2px;tefxt-align:center;font-weight:bold;padding:3px;font-size:20px'>

<a style='color:orange;' href="{{i.get_absolute_url}}">{{i}}</a>

</div>{% endfor %}



<h3 style='text-align:center'>Products in {{cat2}}</h3>
<div stylde="background-color:#f3f1f1">

{% for i in products|dictsortreversed:'time' %}

{% include "common_c.html" %}

{% endfor %}
</div>
</div>

{% endblock %}
