{% extends 'base.html' %}
{% block content %}



<div class='productsInc' style=''>

<h3 style="text-align:center">Browse by category</h3>
{% for i in sub %}
<div style='width:100%;height:auto;background-color:#800000;color:orange;border-bottom:1px solid black ;margin-bottom:2px;tefxt-align:center;font-weight:bold;padding:3px;font-size:20px'>

<a style='color:orange;' href="{{i.get_absolute_url}}">{{i}}</a>

</div>{% endfor %}



<div style='margin:;width:100%;height:auto;background-color:#dcdcdc;border-bottom:2px solid white;'><h3 style='text-align:center'>All products</h3>



{% for i in products|dictsortreversed:'time' %}
<div>
{% include "common_c.html" %}
</div>
{% endfor %}

</div>
<div>

{% endblock %}
